html,
body {
    margin: 0;
    
}

header {
    position: fixed;
    top: 0;
    /*height: 125px;*/
    width: 100%;
    background: white;
}
/*@supports (height: 10vh) {*/
/*    body {*/
/*        background: linear-gradient(to right top, #ff0000 50%, #DDD 5%);*/
/*        background-size: 100% calc(100% - 100vh + 129px);*/
/*        background-repeat: no-repeat;*/
        
        
/*    }*/

/*    body:before {*/
/*        content: '';*/
/*        position: fixed;*/
/*        top: 60px;*/
/*        bottom: 0;*/
/*        width: 100%;*/
/*        z-index: -1;*/
/*        background: black;*/
/*    }*/
/*}*/

main {
    margin-top: 30px;
    background-color: black;
    color:red;
}


#nav {
    background-color:black;
    color:red;
}


body {
    font-family: "Open Sans";
    font-size: 1.25rem;
    margin:0;
    
}

main,
header {
    padding: 10px 10%;
    box-sizing: border-box;
}

.container1 {
  position: relative;
  width: 150px;
  display: inline-block;
  margin:auto;
}

.image {
  display: inline-block;
  width: 100%;
  max-height:300px;
  max-width:150px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container1:hover .overlay {
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  text-align: center;
}
#navcon {
    background-color:black;
    padding-top:50px;
    padding-bottom: 50px;
}
#navcon2 {
    background-color:black;
    position:fixed;
    z-index: 1000;
    width:100%;
   
}
.main-nav {
    float:right;
    list-style:none;
    background-color:black;
    margin-top:20px;
}
.main-nav li {
    display:inline-block;
    margin-left: 20px;
}
.main-nav li a {
    color:red;
    text-decoration:none;
    font-size:20px;
}
.main-nav li a:hover {
    border-bottom:2px solid red;
    transition:all .25s ease-in;
    padding-bottom: 10px;
}
.brand{
    float:left;
    
}
.brand img {
    max-height: 75px;
    max-width: 125px;
}

#myVideo {
    /*position: fixed;*/
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    margin-top:75px;
}
* {
    box-sizing: border-box;
}
